## Preprocessing

In [1]:
# Import the required modules
# Modules and dependecies recommended by Instructor
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold

# Metrics
# from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve, RocCurveDisplay

# Pre-Processing
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Models
from sklearn.linear_model import LogisticRegression
# from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier

# Deep Learning!
import tensorflow as tf

# suppress warnings
import warnings
warnings.filterwarnings('ignore')

# read the charity_data.csv from the provided cloud URL.

df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(columns=['EIN', 'NAME'])

# Review New Dataframe
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
df.APPLICATION_TYPE.value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500 # Cutoff number recommended by Instructor
type_counts = df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = type_counts[type_counts >= cutoff].index

# Replace in dataframe
df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].where(df['APPLICATION_TYPE'].isin(application_types_to_replace), 'Other')

# Check to make sure replacement was successful
print(df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = df['CLASSIFICATION'].value_counts()
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 100 # Cutoff recommended by instructor
class_counts = df['CLASSIFICATION'].value_counts()
classifications_to_replace = class_counts[class_counts < 100].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df).astype(int)
df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1270,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C2700,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C5000,CLASSIFICATION_C7000,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = df.drop('IS_SUCCESSFUL', axis=1) # Define the feature columns (drop the target)
y = df['IS_SUCCESSFUL'] # Define the target column

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(34299, 49)
(27439, 49)
(6860, 49)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X.columns)

X_test_scaled = X_scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X.columns)

X_train_scaled.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1270,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C2700,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C5000,CLASSIFICATION_C7000,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0135,-0.042698,-0.090724,-0.12528,-0.179446,0.519079,-0.219112,-0.187928,-0.190921,-0.146691,-0.147467,-0.918840,-0.043992,0.924928,-0.028964,-0.012075,-0.019094,-1.009337,2.482410,-0.058001,-0.091334,-0.464524,-0.244016,-0.052002,-0.245521,-0.075616,-0.054075,-0.152547,-0.14115,-0.107938,-0.065998,-0.008538,0.470717,-0.445266,-0.653194,-0.11992,-0.03417,0.677193,0.636031,-0.148879,-0.127068,-0.326891,-0.083724,-0.170373,-0.350691,-0.064591,-0.071355,0.028327,-0.028327
1,0.0135,-0.042698,-0.090724,-0.12528,-0.179446,0.519079,-0.219112,-0.187928,-0.190921,-0.146691,-0.147467,-0.918840,-0.043992,0.924928,-0.028964,-0.012075,-0.019094,0.990749,-0.402834,-0.058001,-0.091334,-0.464524,-0.244016,-0.052002,-0.245521,-0.075616,-0.054075,-0.152547,-0.14115,-0.107938,-0.065998,-0.008538,0.470717,-0.445266,-0.653194,-0.11992,-0.03417,0.677193,0.636031,-0.148879,-0.127068,-0.326891,-0.083724,-0.170373,-0.350691,-0.064591,-0.071355,0.028327,-0.028327
2,0.0135,-0.042698,-0.090724,-0.12528,-0.179446,0.519079,-0.219112,-0.187928,-0.190921,-0.146691,-0.147467,1.088329,-0.043992,-1.081166,-0.028964,-0.012075,-0.019094,0.990749,-0.402834,-0.058001,-0.091334,-0.464524,-0.244016,-0.052002,-0.245521,-0.075616,-0.054075,-0.152547,-0.14115,-0.107938,-0.065998,-0.008538,0.470717,-0.445266,-0.653194,-0.11992,-0.03417,0.677193,0.636031,-0.148879,-0.127068,-0.326891,-0.083724,-0.170373,-0.350691,-0.064591,-0.071355,0.028327,-0.028327
3,0.0135,-0.042698,-0.090724,-0.12528,-0.179446,0.519079,-0.219112,-0.187928,-0.190921,-0.146691,-0.147467,-0.918840,-0.043992,0.924928,-0.028964,-0.012075,-0.019094,0.990749,-0.402834,-0.058001,-0.091334,-0.464524,-0.244016,-0.052002,-0.245521,-0.075616,-0.054075,-0.152547,-0.14115,-0.107938,-0.065998,-0.008538,0.470717,-0.445266,-0.653194,-0.11992,-0.03417,0.677193,0.636031,-0.148879,-0.127068,-0.326891,-0.083724,-0.170373,-0.350691,-0.064591,-0.071355,0.028327,-0.028327
4,0.0135,-0.042698,-0.090724,-0.12528,-0.179446,-1.926491,4.563875,-0.187928,-0.190921,-0.146691,-0.147467,1.088329,-0.043992,-1.081166,-0.028964,-0.012075,-0.019094,-1.009337,-0.402834,-0.058001,-0.091334,-0.464524,-0.244016,-0.052002,4.072972,-0.075616,-0.054075,-0.152547,-0.14115,-0.107938,-0.065998,-0.008538,-2.124420,2.245848,1.530939,-0.11992,-0.03417,-1.476684,0.636031,-0.148879,-0.127068,-0.326891,-0.083724,-0.170373,-0.350691,-0.064591,-0.071355,0.028327,-0.028327

## Compile, Train and Evaluate the Model

In [13]:
# Create the model
nn_model = tf.keras.models.Sequential()

# Add the first Dense layer (input + hidden)
nn_model.add(tf.keras.layers.Dense(units=3, activation='relu', input_shape=(X_train.shape[1],)))

# Add the output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check model structure
nn_model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 3)                   │             150 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 1)                   │               4 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 154 (616.00 B)

 Trainable params: 154 (616.00 B)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - accuracy: 0.4696 - loss: 85663.0000 - val_accuracy: 0.4659 - val_loss: 17276.1523
Epoch 2/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.4837 - loss: 8704.8369 - val_accuracy: 0.5340 - val_loss: 5542.4307
Epoch 3/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5165 - loss: 2333.7400 - val_accuracy: 0.5340 - val_loss: 2862.8831
Epoch 4/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.4944 - loss: 2272.3579 - val_accuracy: 0.5125 - val_loss: 1771.6077
Epoch 5/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5056 - loss: 2250.5205 - val_accuracy: 0.5278 - val_loss: 313.3477
Epoch 6/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5051 - loss: 261.7685 - val_accuracy: 0.4660 - val_loss: 19846.2578
Epoch 7/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.4942 - loss: 6174.5303 - val_accuracy: 0.5340 - val_loss: 646.5555
Epoch 8/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.4991 - loss: 1640.8723 - val_accuracy: 0.5178 - val_loss: 2278.7642
Epoch 9/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5139 - loss: 807.6727 - val_accuracy: 0.5340 - val_loss: 1549.2866
Epoch 10/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5291 - loss: 815.4637 - val_accuracy: 0.5360 - val_loss: 1395.8905
Epoch 11/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5319 - loss: 800.6581 - val_accuracy: 0.5340 - val_loss: 149.3364
Epoch 12/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5259 - loss: 366.3564 - val_accuracy: 0.5340 - val_loss: 402.0785
Epoch 13/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5143 - loss: 1965.0635 - val_accuracy: 0.5340 - val_loss: 983.2262
Epoch 14/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5313 - loss: 220.1890 - val_accuracy: 0.5362 - val_loss: 221.0605
Epoch 15/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5251 - loss: 547.7973 - val_accuracy: 0.5121 - val_loss: 1404.4764
Epoch 16/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5207 - loss: 1119.5183 - val_accuracy: 0.5117 - val_loss: 270.7816
Epoch 17/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5192 - loss: 392.0370 - val_accuracy: 0.5340 - val_loss: 272.4500
Epoch 18/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5274 - loss: 212.4896 - val_accuracy: 0.5340 - val_loss: 47.5471
Epoch 19/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5224 - loss: 164.5296 - val_accuracy: 0.5340 - val_loss: 432.6688
Epoch 20/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5353 - loss: 330.3034 - val_accuracy: 0.5340 - val_loss: 50.7782
Epoch 21/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5269 - loss: 17.2174 - val_accuracy: 0.4660 - val_loss: 2034.5183
Epoch 22/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5191 - loss: 572.6736 - val_accuracy: 0.5340 - val_loss: 50.1099
Epoch 23/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5251 - loss: 94.8149 - val_accuracy: 0.5340 - val_loss: 43.4657
Epoch 24/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5330 - loss: 248.0625 - val_accuracy: 0.5340 - val_loss: 60.3397
Epoch 25/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5297 - loss: 166.0191 - val_accuracy: 0.5340 - val_loss: 60.4860
Epoch 26/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5334 - loss: 15.6969 - val_accuracy: 0.5341 - val_loss: 0.6907
Epoch 27/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5280 - loss: 50.7903 - val_accuracy: 0.5340 - val_loss: 0.8427
Epoch 28/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5295 - loss: 0.8927 - val_accuracy: 0.5362 - val_loss: 0.6984
Epoch 29/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5343 - loss: 0.6949 - val_accuracy: 0.5340 - val_loss: 0.6913
Epoch 30/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5319 - loss: 0.6949 - val_accuracy: 0.5340 - val_loss: 0.7084
Epoch 31/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5312 - loss: 0.7064 - val_accuracy: 0.5341 - val_loss: 0.6907
Epoch 32/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5313 - loss: 1.2295 - val_accuracy: 0.5340 - val_loss: 30.2792
Epoch 33/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5257 - loss: 55.2118 - val_accuracy: 0.5210 - val_loss: 5.2191
Epoch 34/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5297 - loss: 5.4016 - val_accuracy: 0.5340 - val_loss: 31.0647
Epoch 35/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5262 - loss: 46.8275 - val_accuracy: 0.5105 - val_loss: 31.0809
Epoch 36/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5274 - loss: 8.6932 - val_accuracy: 0.5341 - val_loss: 0.7888
Epoch 37/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5233 - loss: 2.8776 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 38/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5298 - loss: 2.5378 - val_accuracy: 0.5340 - val_loss: 10.9950
Epoch 39/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5279 - loss: 17.9243 - val_accuracy: 0.5340 - val_loss: 14.8723
Epoch 40/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5226 - loss: 240.7636 - val_accuracy: 0.5340 - val_loss: 5.8795
Epoch 41/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5253 - loss: 17.4431 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 42/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5217 - loss: 42.7361 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 43/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5314 - loss: 0.8228 - val_accuracy: 0.5340 - val_loss: 15.2191
Epoch 44/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5363 - loss: 11.5838 - val_accuracy: 0.5340 - val_loss: 32.7879
Epoch 45/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5168 - loss: 104.6153 - val_accuracy: 0.5341 - val_loss: 0.6938
Epoch 46/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5277 - loss: 5.2093 - val_accuracy: 0.5340 - val_loss: 44.7299
Epoch 47/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5310 - loss: 2.1746 - val_accuracy: 0.4660 - val_loss: 330.0512
Epoch 48/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5145 - loss: 72.3442 - val_accuracy: 0.5340 - val_loss: 123.2032
Epoch 49/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5261 - loss: 119.0882 - val_accuracy: 0.5340 - val_loss: 2.8955
Epoch 50/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.5311 - loss: 7.9836 - val_accuracy: 0.5341 - val_loss: 0.6907

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - 6ms/step - accuracy: 0.5341 - loss: 0.6950
Loss: 0.6949599981307983, Accuracy: 0.5341107845306396

In [17]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.